* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Outfit, sans-serif;
  background-color: #d5e1ef;
  font-size: 16px;
  color: #7d889e;
  text-align: center;
}

h1 {
  font-size: 1.375rem;
  color: #1f314f;
  text-align: center;
  margin: 20px 0;
}

.main-QR {
  background: #fff;
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.QR-code > img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
